@use 'global' as *;

/* ======================================
   BOTTOM BAR - VS Code Extension | MARK: BOTTOM BAR
   ======================================= */

.bottom-bar {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.content {
  background-color: $input-bg;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $bottom-bar-height;
  width: 320px;
  border-radius: 11px;
  gap: $spacing-lg;
  position: relative;
  border: 2px dashed $input-border;
}

// ======================================
// Bottom Bar Buttons
// ======================================
.content {
  button {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: $border-radius-lg;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s ease;

    &:hover {
      border-radius: 10px;
      background-color: rgba(85, 85, 85, 0.377);
      padding: 2px;
    }

    // Separator lines between buttons
    &:not(:last-child)::after {
      content: '';
      position: absolute;
      right: -10px;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 24px;
      background-color: rgba(255, 255, 255, 0.41);
    }

    .icon {
      width: 30px;
      height: 30px;
    }
  }
}