/* ======================================
  Toolbar styles - VS Code Extension
  ======================================= */

// Toolbar styles
.toolbar {
    background-color: var(--toolbar-bg);
    padding: 0 12px;
    border-bottom: 1px solid var(--border);
    display: grid;
    // gap: 8px;
    height: 100px;
    grid-template-columns: 1fr 50px 1fr;
}

// Bottom bar styles
