/* ======================================
  Diff Panel - VS Code Extension
  ======================================= */
.diff-panel {
  background-color: $bg;
  display: grid;
  grid-template-columns: 1fr 25px 1fr;
  flex: 1;
  min-height: 0; // Important for grid overflow
  border-top: 1px solid var(--border);
}

// ----- ---- --- -- - Select TEC
.panel-container{
  background-color: $input-bg;
  display: flex;
  height: 30px;
  // width: 100%;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $input-border;
}

.select-tec{
  // align-items: center;
  color: white;
}

// ----- ---- --- -- - Separator
.separator{
  background-color:$input-bg;
  border-left: 1px solid $input-border;
  border-right: 1px solid $input-border;
}

// ----- ---- --- -- - editor-panel-left | Box 1


// ----- ---- --- -- - editor-panel-right | Box 2