/* ======================================
  Diff Panel - VS Code Extension
  ======================================= */
.diff-panel {
  background-color: rgb(36, 91, 105);
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex: 1;
  min-height: 0; // Important for grid overflow
  border-top: 1px solid var(--border);
}

// ----- ---- --- -- - Select TEC
.panel-container{
  background-color: red;
  display: flex;
  height: 30px;
  // width: 100%;
  justify-content: center;
  align-items: center;
}

.select-tec{
  // align-items: center;
  color: white;
}