/* ======================================
  Toolbar styles - VS Code Extension
  ======================================= */
.toolbar {
  background-color: $test;
  // display: flex;
  align-items: center;
  padding: 0 12px;
  border-bottom: 1px solid white;
  display: grid;
  gap: 8px;
  height: 70px;
  grid-template-columns: 1fr 50px 1fr;
}

// ---- --- -- - Warning message
.warning{
  display: flex;
  align-items: center;
  background-color: #311000;
  width: 150px;
  height: 50px;
  border-radius: 8px;
}

.warning-icon{
  width: 25px;
  // color: #ffd900;
}
span{
  font-size: 15px;
  color: white;
}

// ---- --- -- - btn = play
.btn{
  background-color: white;
  cursor: pointer;
}
.btn img{
  width: 30px;
  color: white;
}

// ---- --- -- -  Other Buttons
.buttons{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.clear{
  background-color: black;
  color: white;
  border-radius: 8px;
  width: 100px;
  height: 25px;
  cursor: pointer;
}

.btn-panel-right{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
h1{
  cursor: default;
}
.btn-panel-left{
  background-color: transparent;
  border: none;
  cursor: pointer;
}